[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
nltk = "*"
pandas = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
matplotlib = "*"
scikit-learn = "*"
keras = "*"
prettytable = "*"
easy-parallel = "*"
cython = "*"
line-profiler = "*"
profilehooks = "*"
sparse = "*"
flatten-dict = "*"
cmake = "*"
seaborn = "*"
gensim = "*"
tensorflow-gpu = "==1.12.0"
pyenchant = "*"
jupyter = "*"
tkinter = "*"

[requires]
python_version = "3.6"
